from django.http import HttpResponse
from .models import Album, Song
from django.shortcuts import render, get_object_or_404


def index(request):
    return render(request, 'music/index.html', {'albums' : Album.objects.all()})


def detail(request, album_id):
    # try:
    #     album = Album.objects.get(pk=album_id)
    # except Album.DoesNotExist:
    #     raise Http404("Sorry! Could not find this album.")
    album = get_object_or_404(Album, pk=album_id)
    return render(request, 'music/detail.html', {'album' : album})


def favorite(request, album_id):
    album = get_object_or_404(Album, pk=album_id)
    try:
        selected_song = Song.objects.get(pk=request.GET['song'])
        if selected_song.is_favorite:
            selected_song.is_favorite = False
        else:
            selected_song.is_favorite = True
        selected_song.save()
    except (KeyError, Song.DoesNotExist):
        return render(request, 'music/detail.html', {'album': album, 'error_message':'Something went wrong:('})
    else:
        return render(request, 'music/detail.html', {'album': album, 'error_message':'Song marked favorite:)'})